<div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
      <div class="col mb-3">
        <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <p class="text-body-secondary">© 2024 All rights are reserved by BrandName and developed by</p>
      </div>
  
      <div class="col mb-3">
        <h5>Site Map</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/home" class="nav-link p-0 text-body-secondary">Home</a></li>
          <li class="nav-item mb-2"><a href="/aboutus" class="nav-link p-0 text-body-secondary">About us</a></li>
          <li class="nav-item mb-2"><a href="/contactus" class="nav-link p-0 text-body-secondary">Contact us</a></li>
          <li class="nav-item mb-2"><a href="/product" class="nav-link p-0 text-body-secondary">Shop</a></li>
          <li class="nav-item mb-2"><a href="/myaccount" class="nav-link p-0 text-body-secondary">My Account</a></li>
        </ul>
      </div>
  
      <div class="col mb-3">
        <h5>Company Policy</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/termsofuse" class="nav-link p-0 text-body-secondary">Terms and conditions</a></li>
          <li class="nav-item mb-2"><a href="/privacypolicy" class="nav-link p-0 text-body-secondary">Privacy policy</a></li>
          <li class="nav-item mb-2"><a href="/shippingpolicy" class="nav-link p-0 text-body-secondary">Shipping policy</a></li>
          <li class="nav-item mb-2"><a href="/returnpolicy" class="nav-link p-0 text-body-secondary">Return policy</a></li>
        </ul>
      </div>
  
      <div class="col mb-3">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/men" class="nav-link p-0 text-body-secondary">Men wear</a></li>
          <li class="nav-item mb-2"><a href="/women" class="nav-link p-0 text-body-secondary">Women wear</a></li>
        </ul>
      </div>
    </footer>
  </div>